.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    padding: 4rem;
    background: #f0f4f4; 
    box-sizing: border-box;
    

    .contact-content {
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        max-width: 100%;

        .form-container {
        flex: 0 0 60%;
        max-width: 60%;
        background-color: #f9f9f9;
        padding: 2rem;
        border-radius: 0.75rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        

        .titleContact {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
            color: #0f2a34;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .name-row {
            display: flex;
            gap: 1rem;

            input {
                flex: 1;
            }
            }

            input,
            textarea {
            padding: 0.7rem;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            font-size: 1rem;
            width: 100%;
            box-sizing: border-box;

            &:focus {
                outline: none;
                border-color: #43aad0;
                box-shadow: 0 0 4px rgba(43, 122, 120, 0.3);
            }
            }

            textarea {
            resize: none;
            }

            button {
            padding: 0.6rem;
            background-color: #4aa3c3;
            color: white;
            border: none;
            border-radius: 0.5rem;
            font-size: 1rem;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background-color: #297b99;
            }
            }
        }
        }

.list-container {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    width: 100%;

    .listContact-container {
        flex: 0 0 50%;
        background: #ffffff;
        padding: 2rem;
        border-radius: 0.625rem;
        box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);

        h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        }

        ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.625rem;
            font-size: 1rem;
            line-height: 1.4;
        }
        }
    }

    .redesContact-container {
        display: flex;
        gap: 1rem;
        justify-content: center; 
        flex-wrap: wrap;
        padding: 2rem;
        margin: 2rem;

        a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        background-color: #14253E;
        color: white;
        border-radius: 50%;
        font-size: 1.5rem;
        text-decoration: none;
        transition: background 0.3s ease, transform 0.3s ease;

        &:hover {
            //background-color: #94C8DB;
            transform: scale(1.1);
        }
        }
    }

  
}
}

  /* Responsive */
    @media (max-width: 768px) {
        gap: 0.8rem;

        .redesContact-container {
        justify-content: center; // centrado en móviles
        }
    }




    @media (max-width: 1024px) {
        .contact-content {
        flex-direction: column;
        align-items: center;
        

        .form-container,
        .listContact-container {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }

        .form-container form .name-row {
            flex-direction: column;
            width: 100%;
        }
        }
    }

    @media (max-width: 480px) {
        padding: 1rem;

        .form-container {
        padding: 1rem;


        .titleContact {
            font-size: 1.3rem;
        }

        form {
            gap: 0.8rem;


            input,
            textarea {
            font-size: 0.9rem;
            }

            button {
            font-size: 0.9rem;
            padding: 0.5rem;
            }
        }
        }
    }
}