// Estilos para el footer
.footer {
  width: 100%;
  background-color: #1D395D;

  .group-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;

    .box {
      figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
          width: 200px;
          border-radius:50%;        

        }
      }

      h2 {
        color: #ffffff;
        margin-bottom: 25px;
        font-size: 20px;
        
      }

      p {
        color: #efefef;
        margin-bottom: 10px;
      }
    }

    .social-networks {
      a {
        text-decoration: none;
       font-size: 35px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        color: #efefef;
        margin-top: 5px;
        margin-right: 10px;
        background-color: #14253E;
        border-radius: 50%;
        text-align: center;
        transition: all 400ms ease;

        &:hover {
          color: #94C8DB;
        }
      }
    }
  }

  .group-2 {
    background-color: #274C7C;
    padding: 15px 10px;
    text-align: center;
    color: rgb(255, 255, 255);

    small {
      font-size: 25px;
    }
  }

  @media screen and (max-width: 800px) {
    .group-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0;
    }
  }
}
