/* Estilos generales para el footer */
.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    border-top: 1px solid #34495e; /* Añadido borde superior para definición */
  }
  
  /* Contenedor para el contenido del footer */
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Añadido padding lateral para mejor separación */
  }
  
  /* Estilo para cada sección del footer */
  .footer-section {
    flex: 1;
    text-align: center;
  }
  
  /* Estilo para el texto del desarrollador */
  .dev {
    margin: 0;
    font-size: 1em;
  }
  
  .dev a {
    color: #3498db;
    text-decoration: none;
  }
  
  .dev a:hover {
    text-decoration: underline;
  }
  
  /* Estilo para el texto de derechos reservados */
  .copy {
    margin: 0;
    font-size: 0.9em;
  }
  
  /* Estilo para la lista de contacto */
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-list li {
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  
  .contact-list i {
    margin-right: 8px;
    color: #3498db; /* Color para los íconos */
  }
  
  /* Estilos para el footer en pantallas pequeñas */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-section {
      margin: 10px 0;
    }
  }
  