.info-container{
    width: 100%;
    height: 15vh;
    background-color: #689f38;
    display: grid;
    align-items: center;
    //margin-top: 40px;



    .textInfo{
        text-align: center;
        color: #fafafa;
        font-size: 20px;
    }

}