.proceeds-container{


    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    


        .title-proceeds{
            font-size: 38px;
            color: #2b3b53;
            margin-top: 60px;
            margin-bottom: 40px;
            //align-items: center;
        }

        //.proceeds{

            

            p{
                font-size: 15px;
                width: 70%;
                text-align: center;
                
            }


        //}



    }
