.proceeds-container{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;


    .proceeds{
        background-color: #4d5c72;
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        

        .title-proceeds{
            color: white;
            font-size: 28px;
            text-align: center;
            padding: 40px;

        }

            .ul-proceeds{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: space-evenly;
                padding: 10px 20px 40px 80px;
                list-style: disc;

                .list-proceeds{

                    color: white;

                }
            
            }

    }
}