.service-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;



    .tituloService{
        font-size: 38px;
        font-weight: 400;
        color: #2b3b53;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .fArticleService-container {

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .content-service{
            display: grid;
            grid-template-columns: 1.5fr 1.5fr;
            width: 100%;
            height: 450px;
            justify-items: center;
            align-items: center;
    
        .imgService-container {
            width: 530px; 
            height: 380px; 
            margin-left: 40px;
            border-radius: 20px;
            object-fit: cover;
        }

            .imgService-container:hover{
                width: 550px; 
                height: 390px; 
                //margin-right: 40px;
                border-radius: 20px;
                object-fit: cover;
                transition: 500ms;
            } 

        
        
        .textService-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        
        
        
            h3{
                font-size: 24px;
                margin-bottom: 20px;
                color:#2b3b53;
            }
            
            p {
                text-align: center;
                width: 70%;
                font-size: 18px;
            }
        }
    }

    .cards-service{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .card-service{
            background-color: #ffffff;
            width: 20%;
            height: 100%;
            margin: 50px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
            padding: 20px;
        }

        .card-service:hover{
            transform: translateY(-15px);
            transition: 500ms;
            cursor: pointer;
        }



        .title-card{
            font-size: 18px;
            text-align: center;
            width: 100%;
            color: #2b3b53;
        }

        .text-card{
            text-align: center;
            font-size: 12px;
            width: 100%;
        }

    }

}

    .sArticleService-contaner{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;


        .content-service{
            display: grid;
            grid-template-columns: 1.5fr 1.5fr;
            width: 100%;
            height: 450px;
            justify-items: center;
            align-items: center;

            .imgService-container{
                width: 530px; 
                height: 380px; 
                margin-right: 40px;
                border-radius: 20px;
                object-fit: cover;
            }

            .imgService-container:hover{
                width: 550px; 
                height: 390px; 
                //margin-right: 40px;
                border-radius: 20px;
                object-fit: cover;
                transition: 500ms;
            }

            .textService-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            
            
            

                h3{
                    font-size: 24px;
                    margin-bottom: 20px;
                    color:#2b3b53;
                }

                p {
                    text-align: center;
                    width: 70%;
                    font-size: 18px;
                }

            }

        }

        .cards-service{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .card-service{
                width: 20%;
                height: 100%;
                margin: 50px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
                padding: 20px;
            }

            .card-service:hover{
                transform: translateY(-15px);
                transition: 500ms;
                cursor: pointer;
            }
    


            .title-card{
                font-size: 18px;
                text-align: center;
                width: 100%;
                color:#2b3b53;
            }

            .text-card{
                text-align: center;
                font-size: 12px;
                width: 100%;
            }

        }
            
    }
}