.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;

  .service-title {
    font-size: 38px;
    font-weight: 400;
    color: #2b3b53;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  .service-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .service {
      width: 80vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      align-items: center;
      border-radius: 25pc 0 0 25pc;
      padding: 25px;
      gap: 10px;

      .service-SubTitle {
        font-size: 38px;
        font-weight: 400;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: start;
      }

      .text-service {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 22px;
        font-weight: 500;
      }

      .img-container {
        display: flex;
        justify-content: flex-start;
        border-radius: 50%;

        img {
          width: 420px;
          height: 420px;
          object-fit: fill;
          border-radius: 50%;
        }

        &.img-izquierda {
          justify-content: flex-end;
        }
      }

      &.izquierda {
        border-radius: 0 25pc 25pc 0;
      }
    }

    /* Estilos de las cards */
    .card-background {
      display: flex;
      align-items: center;
      height: 40vh;
      margin-top: 3rem;
      margin-bottom: 3rem;

      .card-container {
        display: flex;
        justify-content: space-around;
        width: 90vw;

        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 16px;
          width: 320px;
          height: 250px;
          box-shadow: 2px 7px 13px 1px rgba(0, 0, 0, 0.2);
          overflow: hidden;
          border-color: #000000;
          padding: 24px;

          .card-title {
            color: #000000;
            font-weight: bold;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            margin-bottom: 1rem;
          }

          .card-text {
            line-height: 1.4;
            margin: 10px 0 0 0;
            font-size: 18px;
            color: #000000;
            font-style: italic;
          }
        }
      }
    }
  }
}

/* Maqueta celu */
@media (max-width: 550px) {
  .service-section {
    .service-container {
      .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        background-color: #bdbdbd85;
        padding: 0;
        margin-bottom: 1.5rem;
        border-radius: 0;

        .service-SubTitle {
          text-align: center;
        }

        .img-container {
          img {
            width: 300px;
            height: 300px;
            border-radius: 10px;
          }
        }

        &.izquierda {
            margin-top: 1.5rem;
            border-radius: 0px;

        }
      }

      .card-background {
        height: 90vh;

        .card-container {
          flex-direction: column;
          width: auto;

          .card-body {
            width: 250px;
            padding: 16px;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

/* Maqueta tablet */
@media (min-width: 551px) and (max-width: 900px) {
  .service-section {
    .service-container {
      .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        background-color: #bdbdbd85;
        padding: 0;
        margin-bottom: 1.5rem;
        border-radius: 10px;

        .service-SubTitle {
          text-align: center;
        }

        .img-container {
          img {
            width: 400px;
            height: 350px;
            border-radius: 10px;
            margin-top: 2rem;
            margin-bottom: 2rem;
          }
        }

        &.izquierda {
            margin-top: 3rem;
            border-radius: 0px;

        }
      }

      .card-background {
        height: 90vh;

        .card-container {
          flex-direction: column;
          width: auto;

          .card-body {
            width: 250px;
            padding: 16px;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .service-section {
    .service-container {
      .service {
        width: 100vw;
        background: linear-gradient(
          to right,
          rgba(179, 179, 255, 0.842),
          #ffffff
        );

        &.izquierda {
          background: linear-gradient(
            to left,
            rgba(179, 179, 255, 0.842),
            #ffffff
          );
        }
      }

      .card-background {
        .card-container {
          width: 100vw;

          .card-body {
            width: 300px;
            padding: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .service-section {
    .service-container {
      .service {
        background: linear-gradient(
          to right,
          rgba(179, 179, 255, 0.842),
          #ffffff
        );

        &.izquierda {
          background: linear-gradient(
            to left,
            rgba(179, 179, 255, 0.842),
            #ffffff
          );
        }
      }
    }
  }
}
