.service-container{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;


    .tituloService{
        font-size: 38px;
        font-weight: 400;
        color: #2b3b53;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .fArticleService-container {
        display: grid;
        grid-template-columns: 1fr 1.5fr; 
        width: 100%;
        height: 450px;
        justify-items: center;
        align-items: center;

    
        .imgService-container {
            background-color: #689f38;
            width: 90%; 
            height: 70%; 
            margin-left: 40px;
            border-radius: 20px;

        }
        
        .textService-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        
        
        
            h3{
                font-size: 24px;
                margin-bottom: 20px;
            }
            
            p {
                text-align: center;
                width: 70%;
                font-size: 18px;
            }

    }

}

    .sArticleService-contaner{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        width: 100%;
        height: 450px;
        justify-items: center;
        align-items: center;
    
            .imgService-container{
                background-color: #689f38;
                width: 90%; 
                height: 70%; 
                margin-right: 40px;
                border-radius: 20px;
    
            }

            .textService-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            
            
            

                h3{
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                p {
                    text-align: center;
                    width: 70%;
                    font-size: 18px;
                }

            }

    }
}